* {
    transition-duration: 0.2s;
}

body {
    background-color: rgb(235, 198, 163);
    transition-duration: 0.3s;
}


h1 {
    font-family: 'Casino Flat Shadow', sans-serif;
    font-size: 4vw;
}
h3 {
    font-family: 'Dollar Bill', sans-serif;
    color: rgb(62, 95, 68) !important;
    font-size: 8vw;
    color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px rgb(56, 209, 102), 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px rgb(90, 179, 104), 3px 4px 1px #eee,
}

.button-row {
    justify-items: center;
}

#betBox {
    width: 20vw;
    font-size: 3vh;
}
#submitBet {
    width: 30vw;
}


#hitValue {
    text-align: center;
    font-size: 10vw;
}
#hitValue,#playerValue,#computerValue, #winLoose, #playAgain, #bust { margin: auto; text-align: center !important;
font-weight: 800 !important;}

#cardRow {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(255, 236, 220);
    width: 50px;
    height: 90px;
    border: solid 2px rgb(75, 75, 75);
    position: relative;
    margin: 10px;
    font-weight: 800;
}
.card-text {
    position: absolute;
    top: 4px;
    left: 4px;
}
.card-text-2 {
    position: absolute;
    bottom: -10px;
    right: 4px;

}
.btn {
    font-weight: 500;
    font-size: xx-large;
}
.input-lg {
    min-width: 30vw;
    min-height: 10vh;
}

/* popover */
#close-popover-button {
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
  }
  #subimtBet {
    margin-left: 30px !important;
  }